/* GENERAL */
@font-face {
  font-family: 'beat';
  src: url('./assets/additional-icons/font/beat.eot?23528830');
  src: url('./assets/additional-icons/font/beat.eot?23528830#iefix') format('embedded-opentype'),
  url('./assets/additional-icons/font/beat.woff?23528830') format('woff'),
  url('./assets/additional-icons/font/beat.ttf?23528830') format('truetype'),
  url('./assets/additional-icons/font/beat.svg?23528830#beat') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  background: #eee;
  color: #111;
}

body {
  width: 100%;
  min-width: 380px;
  margin-inline: auto;
  font-size: 1.3em;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
}

h1 {
  margin-block: 0;
}

header {
  padding: 0 1em 1em;
}

/* COLORS */

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.grey {
  color: grey;
}

/* LAYOUT */

main {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.main-container {
  min-width: 380px;
  max-width: calc(calc(754 / 1394) * 85vh);
  padding-block: 1em;
  position: relative;
}

.overflow-x-clip {
  overflow-x: clip;
}

.flex-container-inline {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.flex-container-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.equal-children > * {
  flex: 1;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.space-between {
  justify-content: space-between;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* CONTENT */

.logo {
  max-height: 100px;
}

.time {
  font-variant-numeric: tabular-nums;
}

.article {
  min-width: fit-content;
}

.article-name {
  margin-block: 1em 0.5em;
}

.article-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  margin-inline: auto;
  padding: 1em;
  font-weight: bold;
  border: solid 5px;
  border-radius: 50%;

  transition: background-color 0.5s ease-in-out;
}

.updated {
  background-color: yellow;
}

.valuable-icon {
  font-size: 1.5em;
  color: gold;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.valuable-amount {
  transition: background-color 0.5s ease-in-out;
}

.situation {
  min-width: 380px;
  margin: 0 -25px -50px 25px;
}

.garbage-popup {
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 1000;
}

.garbage-popup-icon {
  font-size: 5em;
}

.garbage-popup-icon-fa {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.garbage-popup-text {
  max-width: 6em;
}

.average-wattage {
  font-size: 0.8em;
  color: #696969;
}
